<!DOCTYPE html>
<html lang="en">
<head>
	<title>Englsih to German Translator</title>
<style>
    	div.a {
  	text-align: center;
	color: #FFFFFF;
    }
    .header {
  background-color: #000000;
  padding: 20px;
  text-align: center;
	}
    .center {
  margin: 0;
  position: center;
	}
    .bg {
    	margin-top: 10px;
    	background-color: #D3D3D3		;
	padding: 30px;
text-align: left;
    }
    .footer {
  padding: 20px;
  text-align: center;
  background: #000000;
  color: #FFFFFF;
  margin-top: 10px;
}
	</style>
</head>
<body>
	<div class= "header">
	<div class="a">
    <h1 text-align: center>English to German Translator</h1>
    </div>
    </div>
    <div class= "bg">
    <h3>Enter the text to convert</h3>
    <form action="." method="POST">
        <textarea id="text" name="text1" style="font-size: 20pt" rows="10" cols="83"></textarea><br>
        <input type="submit" name="my-form" value="Translate">
    </form>
    </div>
    <div class="footer">
  <h2>Made by <a href="https://github.com/akashshah03" style="color:white;">Akash Shah</a></h2>
</div>
</body>
</html>